* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_containers {
  direction: rtl;
}

.main-container {
  display: flex;
}

/* Sidebar */

.nav {
  transition: ease-in-out;
  animation-delay: 1s;
  display: none;
}

.nav__blue {
  transition: ease-in-out;
  animation-delay: 1s;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 100%;
  justify-content: start;
  align-items: center;
  padding: 15px;
  margin: 10px;
  background: #f8f8ff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.top_section {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.logo {
  font-size: 18px;
  line-height: 0;
}

.lines_icon {
  align-self: flex-end;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

.main_container {
  direction: ltr;
  /* height: 150vh; */
  width: 20vw;
  padding: 15px;
  margin: 10px;
  background: #f8f8ff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  flex: 1;
}

.link {
  direction: rtl;
  display: flex;
  padding: 6px 0px 6px 0px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  text-decoration: none;
  text-decoration-line: none;
}

.link_items {
  display: flex;
  /* padding: 3px; */
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  color: black;
}

/* .link:hover {
  max-width: 9rem;
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.65);
} */

.link_text {
  margin-right: 0.5rem;
}

.profile {
  display: flex;
  width: 50px;
  align-items: center;
  border-radius: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile > img {
  width: 100%;
  border-radius: 10%;
}

/* newLine */
.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(0, 0, 0);
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #06d6a0;
}

.workButton:hover {
  background-color: #0ac593;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}
